<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @test.id %>
  <ul>
    <% @questions.each do |q| %>
      <li><%= q.content %>
        <ul class="option">
          <% q.answers.each do |a| %>
            <li><input type="radio" name="<%= q.id %>" value="<%= a.id %>"><%= a.content %></li>
            <br>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</p>
