<p id="notice"><%= notice %></p>

<p>
  <strong>Id answer:</strong>
  <%= @test.id_answer %>
</p>

<p>
  <strong>Id question:</strong>
  <%= @test.id_question %>
</p>

<p>
  <strong>Id topic:</strong>
  <%= @test.id_topic %>
</p>

<p>
  <strong>Time:</strong>
  <%= @test.time %>
</p>

<p>
  <strong>Status:</strong>
  <%= @test.status %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
